@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nova+Square&family=Poppins&display=swap');

body {
    background-color: #050a30;
    padding-left: 3%;
    padding-right: 3%;
}

.mainHeading {
    text-align: center;
    color: #ffc24a;
    font-family: 'Nova Square', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.orderListGrid {
    display: grid;
    gap: 50px 50px;
    grid-template-columns: 1fr 1fr;
 
}

.orderItem {
    background-color: #e2d9db;
    border-radius: 30px;
    font-family: 'Comfortaa', sans-serif;
}

.heading h3 {
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.heading p {
    font-size: 25px;
    color: #1f4172;
}

.orderItemList {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    height: 330px;
}

.orderItemElement {
    display: flex;
    flex-direction: row;
}

.orderItemElement img {
    width: 25px;
    height: 25px;
    margin-left: 30%;
}

.orderItemElement h4 {
    padding: 0;
    margin: auto auto;
}

.orderItemElement > * {
    width: 100%;
}

.costElement {
    text-align: center;
}

.amountNumber {
    margin-left: 30px;
    width: 20%;
    color: #330000;
    font-weight: bold;
}

.costElement {
    color: #1f4172;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.costElement h5 {
    margin-top: 0;
    margin-bottom: 10px;
}

.footer {
    color: whitesmoke;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 50px 0 22px 0;
}


@media only screen and (max-width:768px) {
    .orderListGrid {
        grid-template-columns: 1fr;
    }

    .orderItemElement > * {
        width: 31%;
    }
}